extends base

mixin infoBoxBody(icon, lab, desc )
   div( class="info-box__body")
      div( class="info-box__body-icon")
         svg( class="info-box__icon")
            use( xlink:href=`/img/assets/sprite.svg#icon-${icon}`)
      div( class="info-box__body-label")= lab
      div( class="info-box__body-desc")= desc

block content
   main.main
      section.section-details
         img(src=`/img/posters/${drama.poster}` alt="" class="section-details__img")
         div( class="section-details__drama")
            div( class="info-box" )
               div( class="info-box__title")
                  h1( class="primary-heading")= drama.title
               +infoBoxBody("heart", "Lead Actor", `${drama.leadActor}`)
               +infoBoxBody("heart", "Lead Actress", `${drama.leadActress}`)
               +infoBoxBody("book", "Scripwriter", `${drama.scriptWriter}`)
               +infoBoxBody("video", "Director", `${drama.director}`)
               +infoBoxBody("blackboard", "Original network", `${drama.distributor}`)
               +infoBoxBody("play", "Genre", `${drama.genre.join(".")}`)
               +infoBoxBody("plus", "IMDB ratings", `${drama.imdbRating} / 10`)
               +infoBoxBody("home", "Country of origin", `${drama.countryOfOrigin}`)

      section.section-description
         .drama-description
            -const paras = drama.synopsis.split('\n')
            .drama-description__about
               each para in paras
                  p= para
            .drama-comments
               .comment-box
                  form.comment-form
                     .form__group
                        label.form__label(for="comment") Write a comment
                        textarea(name="comment", cols="30", rows="5" class="comment-input" false)
                     .form__group
                        button(value=`${drama._id}`).btn.btn--comment post comment
               each cmt in comments
                  .comment
                     .comment__avatar
                        a(href="/users/23535")
                           img(src=`/img/users/${cmt.user.photo}`, alt="avatar" class="avatar")
                     .comment__details
                        .comment__ut 
                           a(href="/users/a325").comment__author= cmt.user.name
                           .comment__time Today 6:00 PM
                        .comment__content= cmt.comment
                        .comment__react
                           button.comment__react-btn
                              svg.comment__react-icon
                                 use( xlink:href="/img/assets/sprite.svg#icon-heart")
                           .comment__react-count= cmt.likes         
         div.drama-images
            img(src=`/img/thumbs/${drama.images[4]}` alt="" class="drama-images__img") 
            img(src=`/img/thumbs/${drama.images[5]}` alt="" class="drama-images__img") 
            img(src=`/img/thumbs/${drama.images[6]}` alt="" class="drama-images__img") 
            img(src=`/img/thumbs/${drama.images[7]}` alt="" class="drama-images__img") 
             
   

   