extends base

mixin infoBoxBody(icon, lab, desc )
   div( class="info-box__body")
      div( class="info-box__body-icon")
         svg( class="info-box__icon")
            use( xlink:href=`/img/assets/sprite.svg#icon-${icon}`)
      div( class="info-box__body-label")= lab
      div( class="info-box__body-desc")= desc

block content
   main.main
      section.section-details
         img(src=`/img/posters/${drama.poster}` alt="" class="section-details__img")
         div( class="section-details__drama")
            div( class="info-box" )
               div( class="info-box__title")
                  h1( class="primary-heading")= drama.title
               +infoBoxBody("heart", "Lead Actor", `${drama.leadActor}`)
               +infoBoxBody("heart", "Lead Actress", `${drama.leadActress}`)
               +infoBoxBody("book", "Scripwriter", `${drama.scriptWriter}`)
               +infoBoxBody("video", "Director", `${drama.director}`)
               +infoBoxBody("blackboard", "Original network", `${drama.distributor}`)
               +infoBoxBody("play", "Genre", `${drama.genre.join(".")}`)
               +infoBoxBody("plus", "IMDB ratings", `${drama.imdbRating} / 10`)
               +infoBoxBody("home", "Country of origin", `${drama.countryOfOrigin}`)

      section.section-description
         .drama-description
            h1 Brief About #{`${drama.title}`}
            .drama-description__about
            -const paras = drama.synopsis.split('\n')
               each para in paras
                  p.drama-description__about= para


               
         
         div.drama-images
            img(src=`/img/thumbs/${drama.images[0]}` alt="" class="drama-images__img") 
            img(src=`/img/thumbs/${drama.images[1]}` alt="" class="drama-images__img") 
            img(src=`/img/thumbs/${drama.images[2]}` alt="" class="drama-images__img") 
            img(src=`/img/thumbs/${drama.images[3]}` alt="" class="drama-images__img") 
             
   

   